@import "syntax-variables";
.editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;
    text-rendering: optimizeSpeed;
    -webkit-filter: contrast(@contrast);
    -webkit-filter: saturate(@saturation);
    .invisible-character {
        color: @syntax-invisible-character-color;
    }
    .indent-guide {
        color: @syntax-indent-guide-color;
    }
    .wrap-guide {
        background-color: fade(@base0D,5%);
        box-shadow: 0 0 6px 0 fade(@base0D,20%);
    }
    .gutter {
        .line-number {
            color: @syntax-gutter-text-color;
            &.git-line-removed:before {
                bottom: -3px;
            }
            &.git-line-removed:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 25px;
                border-bottom: 1px dotted fade(@syntax-color-removed, 50%);
                pointer-events: none;
            }
            &.cursor-line {
                color: @syntax-gutter-text-color-selected;
                background-color: @syntax-gutter-background-color-selected;
            }
            &.cursor-line-no-selection {
                background-color: transparent;
            }
            .icon-right {
                color: @syntax-text-color;
            }
            .icon-right {
                color: @syntax-text-color;
            }
        }
    }
    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: @syntax-gutter-text-color-selected;
    }
}
atom-text-editor.is-focused,
.editor {
    .cursor {
        border-color: @syntax-cursor-color;
        // box-shadow: 0px 0px 20px 3px  fade(lightblue,50%);
    }
    .selection .region {
        background-color: fade(@syntax-selection-color,55%);
    }
    .line-number.cursor-line-no-selection,
    .line.cursor-line {
        box-shadow: 0 0 5px 0 fade( @base0D, 60%);
    }
}

.syntax--comment {
    color: lighten(@base02,15%);
}
.syntax--string {
    color: @base0E;
    text-shadow: 0 0 @blur rgba(170, 175, 219, @opacity);
}
.syntax--constant.syntax--numeric {
    color: @base09;
    text-shadow: 0 0 @blur rgba(119, 194, 187, @opacity);
}
.syntax--constant.syntax--character,
.syntax--constant.syntax--other {
    color: @base0A;
    text-shadow: 0 0 @blur rgba(34, 200, 153, @opacity);
}
.syntax--constant.syntax--language {
    color: #bdbe82;
    text-shadow: 0 0 @blur rgba(189, 190, 130, @opacity);
}
.syntax--storage {
    color: @base08;
    text-shadow: 0 0 @blur rgba(139, 93, 223, @opacity);
}
.syntax--meta.syntax--function-call {
    color: @base0D;
    text-shadow: 0 0 @blur rgba(5, 214, 249, @opacity);
}
.syntax--support.syntax--function {
    color: @base0D;
    text-shadow: 0 0 @blur rgba(189, 190, 130, @opacity);
}
.syntax--variable.syntax--other.syntax--external-symbol {
    color: @base08;
    text-shadow: 0 0 @blur rgba(187, 223, 221, @opacity);
}
.syntax--variable.syntax--language,
.syntax--variable.syntax--other {
    color: @base08;
    text-shadow: 0 0 @blur rgba(58, 175, 255, @opacity);
}
.syntax--variable.syntax--parameter {
    color: @base0D;
    text-shadow: 0 0 @blur fadeout(rgba(5, 214, 249, @opacity),10);
}
.syntax--keyword {
    color: @base0B;
    text-shadow: 0 0 @blur rgba(34, 255, 169, @opacity);
}

.syntax--entity {
    &.syntax--name.syntax-type {
        color: @base05;
        text-shadow: 0 0 @blur rgba(175, 119, 169, @opacity);
    }
    &.syntax--name.syntax--class {
        color: @base0D;
        text-shadow: 0 0 @blur rgba(185, 152, 223, @opacity);
    }
    &.syntax--name.syntax--structure {
        color: @base05;
        text-shadow: 0 0 @blur rgba(185, 152, 223, @opacity);
    }
    &.syntax--name.syntax--tag {
        color: @base08;
        text-shadow: 0 0 @blur rgba(73, 166, 210, @opacity);
    }
    &.syntax--name.syntax--function {
        color: @base0D;
        text-shadow: 0 0 @blur rgba(79, 111, 255, @opacity);
    }
    &.syntax--name.syntax--function.syntax--io {
        color: @base05;
        text-shadow: 0 0 @blur rgba(223, 179, 172, @opacity);
    }
    &.syntax--name.syntax--function.syntax--misc {
        color: @base05;
        text-shadow: 0 0 @blur rgba(227, 228, 169, @opacity);
    }
    &.syntax--name.syntax--function.syntax--predicate {
        color: @syntax-text-color;
        text-shadow: 0 0 @blur rgba(165, 223, 147, @opacity);
    }
    &.syntax--other.syntax--attribute-name {
        color: @base0E;
        text-shadow: 0 0 @blur rgba(73, 134, 194, @opacity);
    }
    &.syntax--other.syntax--attribute-name.syntax--html {
        color: @orange;
        text-shadow: 0 0 @blur rgba(73, 134, 194, @opacity);
    }
    &.syntax--other.syntax--inherited-class {
        color: @base0A;
        text-shadow: 0 0 @blur rgba(73, 134, 194, @opacity);
    }
}
.syntax--meta.syntax--function-call {
    color: @base06;
    text-shadow: 0 0 @blur rgba(5, 214, 249, 0.8);
}
.syntax--meta.syntax-function-call.syntax--arguments {
    color: @syntax-text-color;
    text-shadow: 0 0 @blur rgba(5, 214, 249, 0.8);
}
.syntax--meta.syntax--class,
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
    color: @base07;
    text-shadow: 0 0 @blur rgba(255, 51, 153, @opacity);
}
.syntax--support.syntax--class {
    color: @base0A;
    text-shadow: 0 0 @blur rgba(239, 106, 167, @opacity);
}
.syntax--invalid {
    color: @dark-red;
    text-shadow: 0 0 @blur #cc1b27;
}
.stynax--string .stynax--source {
    font-style: italic;
    color: @base09;
    text-shadow: 0 0 @blur rgba(0, 153, 255, @opacity);
}
.syntax--entity.syntax--name.syntax--tag {
    color: @base0C;
    text-shadow: 0 0 @blur rgba(73, 166, 210, @opacity);
}
.syntax--markup.syntax--heading {
    font-weight: bold;
    color: @base0B;
    text-shadow: 0 0 @blur rgba(34, 255, 169, @opacity);
}
.syntax--markup.syntax--italic {
    font-style: italic;
    color: @base0E;
    text-shadow: 0 0 @blur rgba(155, 169, 253, @opacity);
}
.syntax--markup.syntax--bold {
    font-weight: bold;
    color: @base03;
    text-shadow: 0 0 @blur rgba(155, 169, 253, @opacity);
}
.syntax--markup.syntax--underline {
    text-decoration: underline;
    color: @purple;
    text-shadow: 0 0 @blur rgba(139, 93, 223, @opacity);
}
.syntax--gfm {
    .syntax--link .syntax--entity {
        text-decoration: underline;
        color: @base0C;
        text-shadow: 0 0 @blur rgba(58, 175, 255, @opacity);
    }
}
.syntax--punctuation.syntax--definition.syntax--tag {
        color: @base0C;
        text-shadow: 0 0 @blur rgba(73, 166, 210, @opacity);
}
.syntax--meta.syntax--tag.syntax--template {
        color: @base08;
        text-shadow: 0 0 @blur rgba(227, 228, 169, @opacity);
}
